@charset "UTF-8";
/************************************************
* reset
************************************************/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/************************************************
* 変数
************************************************/
/************************************************
* utils
************************************************/
.u-ch-mb-1 > * {
  margin-bottom: 8px !important;
}

.u-ch-mb-2 > * {
  margin-bottom: 16px !important;
}

.u-ch-mb-3 > * {
  margin-bottom: 24px !important;
}

.u-ch-mb-4 > * {
  margin-bottom: 32px !important;
}

.u-btn-wrapper.isCenter {
  text-align: center;
}

.u-Item--left {
  text-align: left;
}

.u-Item--left > * {
  display: inline-block;
  padding-right: 8px;
}

/************************************************
* js
************************************************/
#js-ExamScore {
  height: 60px;
  align-items: center;
  display: flex;
}

#js-ExamScore > * {
  margin-right: 16px;
}

#js-ExamScore.isNotActive {
  position: absolute;
  bottom: 1000000px;
  z-index: -99;
}

#search-result__list .a-List-Item {
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  background: #F2F2F2;
  cursor: pointer;
}

/************************************************
* 装飾
************************************************/
.has_thumnail_border {
  background: #ddd;
  background-image: -webkit-linear-gradient(-45deg, #ddd 45%, #fff 45%, #fff 55%, #ddd 55%);
  background-image: -moz-linear-gradient(-45deg, #ddd 45%, #fff 45%, #fff 55%, #ddd 55%);
  background-image: -ms-linear-gradient(-45deg, #ddd 45%, #fff 45%, #fff 55%, #ddd 55%);
  background-image: linear-gradient(-45deg, #ddd 45%, #fff 45%, #fff 55%, #ddd 55%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  -ms-background-size: 5px 5px;
  background-size: 5px 5px;
  padding: 8px;
}

/************************************************
* atomic
************************************************/
.a-Title {
  font-weight: bold;
  font-size: 24px;
}

.a-Sub-Title {
  font-weight: bold;
  font-size: 19.2px;
}

/************************************************
* プロフィール
************************************************/
/************************************************
* 患者一覧
************************************************/
.c-Patient-List a {
  color: #0011ff;
  padding: 8px;
}

.c-Patient-List a:hover {
  color: white;
  background: grey;
}

/************************************************
* 患者詳細
************************************************/
.m-Patient-Detail .c-Profile__details {
  margin-left: 40px;
}

.m-Patient-Detail .c-Profile__details .c-List {
  text-align: left;
}

.m-Patient-Detail .c-Profile__details .c-List > * {
  display: inline-block;
  padding-right: 8px;
}

.m-Patient-Detail .c-Profile__details .a-LongText {
  margin-left: 40px;
}

/************************************************
* 診察診断
************************************************/
